@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*************start of navbar css********************/
.footerNav{
    display: none;
}
body .navbars {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, #02266C, #1A0051);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 70px;
    z-index: 99;
    border-bottom: 1px solid #ffffff62;
}

body .navbars .nav {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}


.navbars .logo {
    width: 20%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.navbars a img {
    width: 150px;
    align-items: center;
    position: relative;
}
/**************** end of logo *****************/
/**************** start of navlist *****************/
.navbar-nav .hamburger{
    display: none;
}
.navbars .navbar-nav{
    width: 60%;
    display: inline;
    margin-top: 20px;
}
.navbars .navbar-nav ul{
    float: right;
}
.navbars .navbar-nav ul li{
    list-style: none;
    float: left;
    padding: 0px 20px;
}
.navbars .navbar-nav ul li a{
    color: #fff;
    text-decoration: none;
}
#login::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 1px;
    height: 25px;
    top: 30px;
    display: block;
  }
/**************** end of navlist *****************/
/**************** start of account login/signup *****************/
.nav .login{
    width: 20%;
    display: inline;
    margin-top: 20px;
}  
.nav .login a{
    text-decoration: none;
    color: #fff;
    padding: 0px 20px;
}
.nav .login a i{
    margin-right: 5px;
}
.profile-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
}

.profile-info img {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}
#username{
    color: #fff;
}

#dropdown {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff; 
    border: 1px solid #ccc; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

#dropdown li {
    padding: 10px;
}
#dropdown li a{
    color: #000;
}

#user-profile:hover #dropdown {
    display: block;
}
/**************** end of account login/signup *****************/
/**************** end of navbar css *****************/
.popup {
    z-index: 9999;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    height: 100vh;
    background-color: #000000b7;
}
.popup .close{
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1111;
}
.popup .close i{
    color: #fff;
    font-size: 1.5rem;
    margin: 20px;
    cursor: pointer;

}

.btns{
    width: 100%;
    height: auto;
    margin: 20px auto 0px auto;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}
.btns .book{
    width: 100%;
}
.btns .book label{
    width: 100%;
    display: block;
    margin-top: 10px 0px;
}
.btns .book input,
.btns .book select{
    width: 90%;
    padding: 10px;
}
#submit input{
    width: 100%;

    padding: 10px 20px;
}
@media only screen and (max-width: 600px) {
    footer {
        display: none;
    }
    .navbars {
        display: flex;
        justify-content: space-between;
        height: 70px;
    }
    .navbars .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 40px 10px;
    }
    .navbars .logo{
        width: auto;
    }
    .navbars .hamburger{
        color: #fff;
        width: auto;
        font-size: 2.6rem;
        padding: 0px 20px;
    }
    .navbars .hamburger #toggle{
        cursor: pointer;
    }
    
    .navbars .nav .navbar-nav,
    .navbars .nav .login{
        display: none;
    }
    .footerNav {
        display: grid;
        position: fixed;
        width: 100%;
        height: 70px;
        background: linear-gradient(0deg, #02266C, #1A0051);
        bottom: 0;
        left: 0;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between; 
        align-items: center; 
    }
    
    .box {
        text-align: center;
        font-size: 1.2rem; 
    }
    
    .fa-solid {
        font-size: inherit;
        color: #fff;

    }
    .popUp {
        display: none;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        width: 0; /* Start with a width of 0 */
        height: 100vh;
        z-index: 99999;
        transition: width 0.3s ease; /* Add a transition for smooth animation */
        overflow: hidden; /* Hide overflowing content */
    }
    
    .popUp.active {
        width: 100%; /* Expand to full width when active */
    }
    .popUp .close{
        position: absolute;
        right: 0;
        top: 0;
        padding: 30px;
    }
    
    
  
}
