@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@400;500&display=swap');
/*universal*/
:root{

    --bg-success: #dff0d8;
    --bg-danger: #f2dede;
    --success: #3c763d;
    --danger: #a94442;
    --danger-outline: #ebccd1;
    --success-outline: #d6e9c6;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-color: #E9E9E9;    
    height: 100%;
    
}
.container .wrapper{
    padding: 0px 40px 40px 40px;
    display: block;
}
.container .heading{
    margin-top: 70px;
    text-align: center;

}
.container .heading h1{
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 20px 0px;
    text-transform: uppercase;
}
.container .row{
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 40px 20px;
    display: grid;
    grid-gap: 10px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #888888;
}
.col{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 15px;
}
body .navbars {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, #02266C, #1A0051);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 70px;
    z-index: 99;
    border-bottom: 1px solid #ffffff62;
}

body .navbars .nav {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}


.navbars .logo {
    width: 20%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.navbars a img {
    width: 150px;
    align-items: center;
    position: relative;
}
/**************** end of logo *****************/
/**************** start of navlist *****************/
.navbar-nav .hamburger{
    display: none;
}
.navbars .navbar-nav{
    width: 60%;
    display: inline;
    margin-top: 20px;
}
.navbars .navbar-nav ul{
    float: right;
}
.navbars .navbar-nav ul li{
    list-style: none;
    float: left;
    padding: 0px 20px;
}
.navbars .navbar-nav ul li a{
    color: #fff;
    text-decoration: none;
}
#login::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 1px;
    height: 25px;
    top: 30px;
    display: block;
  }
/**************** end of navlist *****************/
/**************** start of account login/signup *****************/
.nav .login{
    width: 20%;
    display: inline;
    margin-top: 20px;
}  
.nav .login a{
    text-decoration: none;
    color: #fff;
    padding: 0px 20px;
}
.nav .login a i{
    margin-right: 5px;
}
.user-profile ul{
    list-style: none;
}
.profile-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
}

.profile-info img {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}
#username{
    color: #fff;
}

#dropdown {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff; 
    border: 1px solid #ccc; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

#dropdown li {
    padding: 10px;
}
#dropdown li a{
    color: #000;
}

#user-profile:hover #dropdown {
    display: block;
}
/**************** end of account login/signup *****************/

/**footer css**/
footer{
    width: 100%;
    height: 300px;
    bottom: 0;
    position: relative;
    left: 0;
    background-image: linear-gradient(to right, #1A0051, #02266C);
}
footer .logo{
    padding: 40px 50px 0px 50px;
    float: left;
    width: 50%;
}
footer .logo ul{
    margin-left: 20px;
    margin-top: 10px;
}
footer .logo ul li{
    list-style: none;
    padding: 5px; 
}
footer .logo ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}
footer .right-content{
    padding: 10px 70px;
    float: right;
    margin-top: 90px;
}
footer .right-content p{
    color: #fff;
    font: 18px;
    font-family: 'Ubuntu', sans-serif;  
}
footer .right-content ul {
    display: flex;
}
footer .right-content ul li{
    list-style: none;
    display: flex;
    color: #fff;
    font-size: 32px;
    padding: 20px;
    
}
footer .right-content ul li a{
    color: #fff;
}
/**error message**/
.error-message {
    display: none;
    padding: 10px;
    z-index: 999;
    position: fixed;
    bottom: 25px;
    right: 30px;
    background: var(--bg-danger);
    border: 2px solid var(--danger-outline);
    color: var(--danger);
    width: 35%;
    justify-content: space-between;
}

.error-message a {
    color: var(--danger);
    font-weight: 600;
    cursor: pointer;
}