@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*************start of navbar css********************/
body .navbars {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, #02266C, #1A0051);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 70px;
    z-index: 99;
    border-bottom: 1px solid #ffffff62;
}

body .navbars .nav {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}


.navbars .logo {
    width: 20%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.navbars a img {
    width: 150px;
    align-items: center;
    position: relative;
}
/**************** end of logo *****************/
/**************** start of navlist *****************/
.navbar-nav .hamburger{
    display: none;
}
.navbars .navbar-nav{
    width: 60%;
    display: inline;
    margin-top: 10px;
    
}
.navbars .navbar-nav ul{
    float: right;
}
.navbars .navbar-nav ul li{
    list-style: none;
    float: left;
    padding: 0px 20px;
}
.navbars .navbar-nav ul li a{
    color: #fff;
    text-decoration: none;
}
#login::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 1px;
    height: 25px;
    top: 30px;
    display: block;
  }
/**************** end of navlist *****************/
/**************** start of account login/signup *****************/
.nav .login{
    width: 20%;
    display: inline;
    margin-top: 20px;
}  
.nav .login a{
    text-decoration: none;
    color: #fff;
    padding: 0px 20px;
}
.nav .login a i{
    margin-right: 5px;
}
/**************** end of account login/signup *****************/
/**************** end of navbar css *****************/
.popup {
    z-index: 9999;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    height: 100vh;
    background-color: #000000b7;
}
.popup .close{
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1111;
}
.popup .close i{
    color: #fff;
    font-size: 1.5rem;
    margin: 20px;
    cursor: pointer;

}
.details{
    width: 50%;
    background-color: #fff;
    padding: 25px;
}
.btns{
    width: 100%;
    height: auto;
    margin: 20px auto 0px auto;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}
.btns .book{
    width: 100%;
}
.btns .book label{
    width: 100%;
    display: block;
    margin-top: 10px 0px;
}
.btns .book input,
.btns .book select{
    width: 90%;
    padding: 10px;
}
#submit input{
    width: 100%;

    padding: 10px 20px;
}

