/*universal*/
:root{

    --bg-success: #dff0d8;
    --bg-danger: #f2dede;
    --success: #3c763d;
    --danger: #a94442;
    --danger-outline: #ebccd1;
    --success-outline: #d6e9c6;
}
.container{
    width: 100%;
    background-color: #E9E9E9;    
    height: 100%;
    
}
.container .wrapper{
    padding: 0px 40px 40px 40px;
    display: block;
}
.container .heading{
    margin-top: 70px;
    text-align: center;

}
.container .heading h1{
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 20px 0px;
    text-transform: uppercase;
}
.container .row{
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 40px 20px;
    display: grid;
    grid-gap: 10px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #888888;
}
.col{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 15px;
}
/*events page*/
.events{
    width: 50%;
    height: auto;
    background-color: #E9E9E9;
    padding: 20px;
}
.events img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.container .row .col1 img{
    width: 300px;
    height: 180px;
    object-fit: cover;
    
}
.row .col-2{
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
}
.row .col-2 a{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #02266C;
    color: #fff;
    border-radius: 15px;
    font-size: 600;
}
.col .btns a{
    padding: 10px 20px;
    background: black;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    width: 100%;
}

/*service page*/
.row .col img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.box{
    padding: 20px;
}
.col .truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    margin-bottom: 10px; 
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin: 10px 0px;
    bottom: 0;
}
.col .btns{
    display: flex;
    width: 100%;
}
/*blog page*/
.col .content{
    padding: 10px 20px;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}
.col .content h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.col .content .truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    margin-bottom: 10px; 
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin: 10px 0px;
    bottom: 0;

}
.col .content .postDate {
    align-items: right;
    text-align: right;
}
/*contact page*/
#contact{
    margin: -20px auto;
}
svg {
	height: 27rem;
    width: 50%;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 { animation-delay: 100ms; }
#star3 { animation-delay: 500ms; }
#star4 { animation-delay: 700ms; }
#star5 { animation-delay: 300ms; }
#star6 { animation-delay: 200ms }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

form{
    width: 50%;
}
.user-details{
    display: grid;
    
}
.user-details .input-box{
    display: block;
    margin: 10px 20px;
}
.user-details .input-box .details{
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
.user-details .input-box input,
.user-details .input-box textarea {
    width: 100%;
    outline: none;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px; 
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box; 
    resize: none;
}

.user-details #textarea,
.user-details #button{
    grid-column: span 2;
}
.user-details .input-box input[type="number"]::-webkit-outer-spin-button,
.user-details .input-box input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box textarea:focus{
    border-color: #9b59b6;
}

form button{
    width: 100%;
    outline: none;
    padding: 10px 0px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #888888;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    transition: background 1s ease;
}
form button:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
/*universal footer css*/
#alertBox{
    display: none;
    margin: 10px 20px;
    grid-column: span 2;
    background-color: var(--bg-success);
    color: var(--success);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
#alertBox .closeMsg{
    cursor: pointer;
}
footer{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right, #1A0051, #02266C);
}
footer .logo{
    padding: 40px 50px;
    float: left;
    width: 50%;
}
footer .logo ul{
    margin-left: 20px;
    margin-top: 10px;
}
footer .logo ul li{
    list-style: none;
    padding: 5px; 
}
footer .logo ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}
footer .right-content{
    padding: 10px 70px;
    float: right;
    margin-top: 90px;
}
footer .right-content p{
    color: #fff;
    font: 18px;
    font-family: 'Ubuntu', sans-serif;  
}
footer .right-content ul {
    display: flex;
}
footer .right-content ul li{
    list-style: none;
    display: flex;
    color: #fff;
    font-size: 32px;
    padding: 20px;
    
}
footer .right-content ul li a{
    color: #fff;
}
